body{
	text-align: center;
}
.boshluq{
	height: 30px;

}
.header{
	height: 350px;
	background-image:url(IMAGE/head.jpg) ;
}
.bash{
	height: 250px;
	width: 100%
}

.menu{
	height: 50px;
	
}

.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 10px;
}
.content p{
	margin-top: 50px;
	margin-bottom: 50px;
	
}
.col-md-4{
	margin-top: 5px;
	padding-left: 20px;

}
.download .row{
	background-color:lightgray;
	border:1px double gray;
	padding: 15px;
}
.block img{
	width: 100%;
}
.client{
	width: 100%;
}
.boshluq1{
	background-color:black;
	height:15px;
}
.footer{
	background-color: black;

}
.col-md-3 h5{
	color:white;
}
.kichik{
	font-size: 0.65em;
	color:white;
}
.boshluq3{
	background-color: black;
	height: 30px;
}
